{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Buddy</title>
    <link rel="icon" href="{% static 'myapp/images/wallet.png' %}">
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body>
    <nav class="shadow-lg p-5">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="#" class="flex">
                <img class="h-10 mr-3" src="{% static "myapp/images/wallet.png" %}">
                <span class="self-center text-xl font-semibold">Budget Buddy</span>
            </a>
            <div class="flex space-x-4">
                <a href="#about" class="text-gray-700 hover:text-green-500 font-semibold m-3">About</a>
                <a href="#contact" class="text-gray-700 hover:text-green-500 font-semibold m-3">Contact</a>
                <a href="#services" class="text-gray-700 hover:text-green-500 font-semibold m-3">Services</a>
            </div>
        </div>
    </nav>
    

    {% block body %}
    {% endblock %}
</body>
</html>