{% extends "myapp/base.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<div class="m-10 font-bold">Add Expense ➕</div>
<form class="shadow-lg m-10 rounded-lg" method="POST">
    {% csrf_token %}
    <div class="form-container px-5 py-10 md:flex">
        <div class="mx-5 md:mx-10">
            <div class="mb-5">
                <label>Expense Name</label>
            </div>
            <div class="border">
                {{ expense_form.name }}
            </div>
        </div>
        <div class="mx-5 md:mx-10">
            <div class="mb-5">
                <label>Amount</label>
            </div>
            <div class="border">
                {{ expense_form.amount }}
            </div>
        </div>
        <div class="mx-5 md:mx-10">
            <div class="mb-5">
                <label>Category</label>
            </div>
            <div class="border">
                {{ expense_form.category }}
            </div>
        </div>
        <div class="mx-5 mt-5 md:mt-8 md:mx-10">
            <button class="bg-green-700 px-5 py-2 rounded-lg text-white font-bold">Add</button>
        </div>
    </div>
</form>
<div class="m-10 font-bold">Expenses 💸</div>
<div class="shadow-lg m-10 rounded-lg pb-8">
    <!-- Header Row -->
    <div class="expense-header flex flex-wrap px-5 md:px-20 py-5 font-bold">
        <span class="w-1/6 text-left">Name</span>
        <span class="w-1/6 text-left">Amount</span>
        <span class="w-1/6 text-left">Category</span>
        <span class="w-1/6 text-left">Date</span>
        <span class="w-1/6 text-center">Edit</span>
        <span class="w-1/6 text-center">Delete</span>
    </div>
    <hr class="m-5 md:m-10">
    
    <!-- Expense Data Rows -->
    {% for expense in expenses %}
    <div class="expense-row flex flex-wrap px-5 md:px-20 py-5">
        <span class="w-1/6 font-bold text-left">{{ expense.name }}</span>
        <span class="w-1/6 font-bold text-left">${{ expense.amount|intcomma }}</span>
        <span class="w-1/6 font-bold text-left">{{ expense.category }}</span>
        <span class="w-1/6 font-bold text-left">{{ expense.date }}</span>
        
        <!-- Edit Button, center with flex -->
        <span class="w-1/6 flex items-center justify-center">
            <a href="{% url 'edit' expense.id %}">
                <img src="{% static "myapp/images/edit.png" %}" class="h-5">
            </a>
        </span>
        
        <!-- Delete Button, center with flex -->
        <span class="w-1/6 flex items-center justify-center">
            <form action="{% url 'delete' expense.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="delete">
                    <img src="{% static "myapp/images/delete.png" %}" class="h-5">
                </button>
            </form>
        </span>
    </div>
    {% endfor %}
</div>



<div class="md:flex">
    <div class="w-full md:w-1/3 shadow-lg m-5 md:ml-10 rounded-lg">
        <h1 class="ml-5 md:ml-10 font-bold text-gray-500">LAST 365 DAYS</h1>
        <h1 class="ml-5 md:ml-10 my-5 text-2xl text-green-500 font-bold">
            ${{yearly_sum.amount__sum|intcomma}}
        </h1>
    </div>
    <div class="w-full md:w-1/3 shadow-lg m-5 md:ml-10 rounded-lg">
        <h1 class="ml-5 md:ml-10 font-bold text-gray-500">LAST 30 DAYS</h1>
        <h1 class="ml-5 md:ml-10 my-5 text-2xl text-green-500 font-bold">
            ${{monthly_sum.amount__sum|intcomma}}
        </h1>
    </div>
    <div class="w-full md:w-1/3 shadow-lg m-5 md:ml-10 md:mr-10 rounded-lg">
        <h1 class="ml-5 md:ml-10 font-bold text-gray-500">LAST 7 DAYS</h1>
        <h1 class="ml-5 md:ml-10 my-5 text-2xl text-green-500 font-bold">
            ${{weekly_sum.amount__sum|intcomma}}
        </h1>
    </div>
</div>
<div class="md:flex">
    <div class="w-full md:w-1/2 shadow-lg m-5 md:m-10">
        <div class="flex flex-wrap space-x-5 md:space-x-40 font-bold px-5 md:px-20 py-5">
            <span>Past 30 days sum Expenses</span>
        </div>
        <hr>
        <div id="30-day-table">
            {% for daily_sum in daily_sums %}
            <div class="flex flex-wrap px-5 md:px-20 py-5">
                <span>
                    {{daily_sum.date}}
                </span>
            </div>
            <div class="flex flex-wrap px-5 md:px-20 py-5">
                <span class="text-green-500">
                    ${{daily_sum.sum}}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w-full md:w-1/2 shadow-lg m-5 md:m-10">
        <div class="flex flex-wrap space-x-5 md:space-x-40 font-bold px-5 md:px-20 py-5">
            <span>Categorical Expenses</span>
        </div>
        <hr>
        <div id="cat-sum-table">
            {% for categorical_sum in categorical_sums %}
            <div class="flex flex-wrap px-5 md:px-20 py-5">
                <span>
                    {{categorical_sum.category}}
                </span>
            </div>
            <div class="flex flex-wrap px-5 md:px-20 py-5">
                <span class="text-green-500">
                    ${{categorical_sum.sum}}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="md:flex">
    <div class="w-full md:w-1/2 shadow-lg m-5 md:m-10">
        <h1 class="m-5 md:m-10">Expense spread across categories</h1>
        <canvas id="myChart" class="m-5 md:m-10"></canvas>
    </div>
    <div class="w-full md:w-1/2 shadow-lg m-5 md:m-10">
        <h1 class="m-5 md:m-10">Daily Expense Sum</h1>
        <canvas id="myChart1" class="m-5 md:m-10"></canvas>
    </div>
</div>

<!-- Add your footer here -->
<footer class="bg-gray-800 text-white py-5">
    <div class="container mx-auto text-center">
        <div class="flex justify-center items-center mb-3">
            <img class="h-10 mr-3" src="{% static "myapp/images/wallet.png" %}" alt="Wallet Icon">
            <span class="font-bold text-lg">Budget Buddy - Expense Tracker</span>
        </div>
        <p class="text-sm">© 2024 Budget Buddy. All rights reserved.</p>
        
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script>
    const cats = []
    const cat_sums = []
    const dates = []
    const sums = []

    const catSumDiv = document.getElementById('cat-sum-table').getElementsByTagName('div')
    for (i = 0; i < catSumDiv.length; i++) {
        if (i % 2 == 1) {
            cat_sums.push(catSumDiv[i].innerText.replace("$", ""));
        } else {
            cats.push(catSumDiv[i].innerText);
        }
    }

    const dailySumDiv = document.getElementById('30-day-table').getElementsByTagName('div')
    for (i = 0; i < dailySumDiv.length; i++) {
        if (i % 2 == 1) {
            sums.push(dailySumDiv[i].innerText.replace("$", ""));
        } else {
            dates.push(dailySumDiv[i].innerText);
        }
    }

    //for category
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: cats,
            datasets: [{
                label: 'Categorical Expenses',
                data: cat_sums,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    //for daily
    var ctx1 = document.getElementById('myChart1').getContext('2d');
    var myChart1 = new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: dates,
            datasets: [{
                label: 'Sum of Daily Expenses',
                data: sums,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
